%p#notice= notice
.row
    .col-md-1
    .col-md-10
        .jumbotron.mt-5
            %h1.display-4 Welcome to BidBook.com
            %p.lead This site is called to help you buy and sell your products for the best price.
            %hr.my-4/
            %p Here you can make bids or put some things to auction.
            %p.lead
                %a.btn.btn-outline-primary{href: new_user_registration_path, role: "button"}Sign Up Now
    .col-md-1
