.container
    .row
        .col-md-1
        .col-md-10
            .jumbotron.mt-5
                %h1.display-4 Welcome to BidBook.com
                %p.lead Vis quod novum expetenda et, at usu ipsum salutandi. Posse decore no.
                %hr.my-4/
                %p Debitis torquatos usu at. Dictas nominati mnesarchum id.
                %p.lead
                    %a.btn.btn-outline-primary{href: new_user_registration_path, role: "button"}Sign Up Now
        .col-md-1
