= link_to "Remove from favorites", unfavorite_product_favorite_path(product_id: product.id),
method: :delete, role: "button", remote: :true, class: "btn btn-primary btn-sm btn-block fav", id: product.id
        