.text-center.mb-3.mt-3
  %h5 Favorite Products
.row.no-gutters
  .col-2.ml-5.mr-5
    .list-group
      = link_to "Clear all favorites", clear_favorites_path, class: "list-group-item"
  .col-7
    .products
      = render '/products/products'
  .col-3