.card.bids.mt-3
  .card-header
    .h5 Bids
  .card-body
    - @product.bids.each do |bid|
      .row.no-gutters
        .col-3
          .h6= bid.user.profile.name
        .col-3
          .h6= bid.quantity
        .col-3
          .h6= bid.created_at.strftime("%d.%m.%y - %H:%M")