%div{:id => bid.id, :class => 'bid'}
  .row.no-gutters
    .col-3
      = bid.user.profile.name
    .col-3
      = "$" + bid.quantity.to_s
    .col-3
      = bid.created_at.strftime("%d.%m.%y - %H:%M")