@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$shadow: 0px 1px 5px 0px #e6e2e2;
$main-color: #007bff;
$main-color-hover: #2ebce6;
@mixin image {
      height:6vw;
      width: auto;
      margin: 1vw;
    }
    
/*Bootstrap*/
.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 100px4;
}
.badge{
  width: 50%;
}
/*Typography*/
body {
  background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn{
  a{
    text-decoration:none;
    color: white;
  }
}

/*header*/
.navbar{
  a {
    text-decoration: none;
    letter-spacing: 1px;
  }
  box-shadow: $shadow;
  background-color: white;
  .fa{
    color: $main-color;
    &:hover{
      color: $main-color-hover;
    }
  }
}

/*jumbotron*/
.jumbotron{
  text-align:center;
  background-color: #ffffff;
  border: grey solid 1px;
  h1 {
    font-size: 3em;
  }
  .btn-primary{
    background-color: white;
    color: black;
    border: #2ebce6 1px solid;
    &:hover{
      background-color: $main-color-hover;
      color: white;
    }
  }
}

/*Cards*/
.card {
  box-shadow: $shadow;
  border: none;
  .card-header{
    border: none;
    
  } 
}

/*Products*/
.product{
  .row{
    height: 100%;
  }
  .card{
    //border-radius: 0;
    .card-body{
      min-height: 8vw;
      padding: 0;
      overflow: hidden;
  }
  }
  a {
    text-decoration: none;
    &:hover {
      color: #00adff8c;
    }
  }
  
  .productleft{
    img {
      @include image;
      max-width: 8vw;
    }
  }
  .productright{
    .username, .productlot, .categoryname, .datetime{
      font-size: 0.8em;
      color: grey;
    }
    .auction{
      font-size: 0.8em;
      color: #3a3a3a;
      font-style: italic;
    }
  }
}

/*Product Show*/
.product-show{
  .product-images-container{
    .image{
      img{
        width: 100%;
        margin: 0;
        height: 250px;
      }
      height: 250px;
      overflow: hidden;
    }
    .images-row{
      img{
        width: auto;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 5px;
        display: inline;
      }
      width: 100%;
      height: auto;
      overflow: auto;
      overflow-y: hidden;
      white-space: nowrap;
      padding-bottom: 8px;
    }
  }
  .description{
    
  }
}

/* Categories */
