- provide(:title, "Categories")
.row.pt-5.pb-5.no-gutters.justify-content-center
  .col-3.pl-5.pr-5
    .btn.btn-secondary.btn-block.btn-sm
      = link_to "New Category", new_category_path
  .col-1
  .col-4
    .list-group
      .list-group-item.list-group-item-action.active 
        Categories
      - @category.each do |category|
        = link_to category.name, category_path(category), class: "list-group-item list-group-item-action text-center"
  .col-4
    