- provide(:title, @category.name + " - Category")

.row.pt-5.pb-5
  .col
  .col-6
    %ul.list-group
      %li.list-group-item.active= @category.name
      %li.list-group-item
        = @category.description
        .text-right
          = link_to 'Edit', edit_category_path, role: "button", class: "btn btn-primary btn-sm" if admin_signed_in?
          = link_to 'Back', categories_path, role: 'button', class: "btn btn-primary btn-sm"
  .col