- provide(:title, "Products")
.text-center.mb-3.mt-3
  %h5 Products
.row.no-gutters
  .col-2.ml-5.mr-5
    .list-group
      = link_to "All", products_path, remote: "true", role: "button", class: "list-group-item"
      = link_to "Auctions", auction_all_products_path, remote: "true", role: "button", class: "list-group-item"
      = link_to "Products", without_auction_products_path, remote: "true", role: "button", class: "list-group-item"
  .col-7
    .products
      = render '/products/products'
  .col-3
